@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face{
    font-family: 'Ahsing';
    src: url('/fonts/Ahsing-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face{
    font-family: 'CodecPro';
    src: url('/fonts/CodecPro-UltraBlack.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

html,
body {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
